body {
    background-color: #eee;
    display: flex;
}
body div{
    flex-grow: 1;
    background-color: #fff;
    margin: 0px 5px 5px;
}

body div:first-child{
margin-left: 0px;
}
#orders{
margin-right: 0px;
}

ul{
    list-style-type: none;
}

#submit{
    background-color: #2a91bd;
    color: #ffffff;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 25px;
    margin: 17px 17px 17px 38px;
}
#submit:disabled{
    background-color: #ccc;
}
#meals-list li {
    cursor: pointer;
}
.selected{
    background-color: #eeeeee;
}